@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-element {
    align-self:center;
    width:90%;
    display:flex;
    margin-top:35px;
    border-radius:15px;
    border:3px solid black;
    padding: 15px;
    cursor:pointer;
}

.form-element p {
    margin-left:10px;
}
.form-element.active {
    border-color: #FFBCC1;
    box-shadow: 0 0 5px #FFBCC1,
    inset 0 0 5px #FFBCC1;
    background-color: #FFBCC1;
    color:#CC1D23;
}
.form-element.solved {
    border-color: green;
    box-shadow: 0 0 5px green,
    inset 0 0 5px green;
    background-color: green;
}
.form-element.inprogress {
    border-color: #FFBCC1;
    box-shadow: 0 0 5px #FFBCC1,
    inset 0 0 5px #FFBCC1;
    background-color:white;
}
.status {
    position:absolute;
    right:45px;
    font-weight:bold;
}
.title {
    width:150px;
    font-weight:bold;
}